[submodule "frontend"]
	path = frontend
	url = https://github.com/Cashayme/winchester-frontend.git

[submodule "backend"]
	path = backend
	url = https://github.com/Cashayme/winchester-backend.git

[submodule "bot"]
	path = bot
	url = https://github.com/Cashayme/winchester-bot.git
